*{
	box-sizing: border-box;
    background-color: #e5e5e5;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
    position: relative;
    min-height: 100vh;
    padding-bottom: 200px;
}

.logoAlura{
    margin-top: 40px;
    margin-left: 84px;
    user-select: none;
}

.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 24px;
    gap: 30px 0px;
}

.btn-iniciar{
    width: 317px;
    height: 114px;
    background: #0A3871;
    border-radius: 24px;
    transition: 0.8s;
}

.btn-iniciar-link{
    outline: none;
    text-decoration: none;
    color: #FFFFFF;
    background: #0A3871;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    font-style: none;
    text-align: center;
    user-select: none;
    transition: 0.8s;
}

.btn-agregar{
    width: 280px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    transition: 0.8s;
}

.btn-agregar-link{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    user-select: none;
    outline: none;
    text-decoration: none;
    transition: 0.8s;
}

.btn-agregar:hover, .btn-iniciar:hover{
    transform: scale(1.1);
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #d8d8d8;
    user-select: none;
    bottom: 0;
    position: absolute;
    width: 100%;
}

#milogo img{
    background-color: #d8d8d8;
    width: 150px;
    margin: 5px;
}

.nombre{
    background-color: #d8d8d8;
    display: flex;
    align-items: center;
}

.nombre p{
    background-color: #d8d8d8;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 150%; /* identical to box height, or 18px */
    color: #495057;
    opacity: 0.5;
    user-select: none;

}

#milogo, .redes, .redes a{
    background-color: #d8d8d8;
    display: flex;
    align-items: center;
}

.redes a img{
    width: 20px;
    background-color: #d8d8d8;
    margin-left: 10px;
}

.redes a img:hover{
    transform: scale(1.1);
}